/* Portrait and Landscape */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px) {
  	.intro {
  		width: 90%;
  	}
  	.item {
  		width: 90%;  		
  	}
  	.title{
  		width: min-content;

  	}
  	.quote h2{
  		font-size: 2rem;
  	}

}

/* Portrait */
@media 
  (max-device-width: 800px) 
  and (orientation: portrait) { 

}

/* Landscape */
@media 
  (max-device-width: 1280px) 
  and (orientation: landscape) { 

}