/* Portrait and Landscape */
@media (min-device-width: 800px) and (max-device-width: 1280px) {
	.intro {
		width: 90%;
	}
	.item {
		width: 100%;  		
	}
	.title{
		width: min-content;
		padding: 20px;
<<<<<<< HEAD
=======
		width: 90%;
>>>>>>> 9f9affd2c788a6fc2ec27d10bfedab18b2619362
	}
	.quote h2{
		font-size: 1.8rem;
	}
	#business-picture, #sector-picture {
		display: none;
	}
	.business-lines .description {
		width: 60%;
		padding: 20px;
<<<<<<< HEAD

	}

=======
	}
>>>>>>> 9f9affd2c788a6fc2ec27d10bfedab18b2619362
	.info {
		padding: 1rem ;
		width: 100%;
		height: 100%;
	}
	.info .title {
	border-left: 2px solid black;
	}
	.service {
		width: 90%;
		margin: 5px;
	}

	.link {
		margin: 0;
		width: 100%;
		margin-top: 0.5rem;s
	}
	.link a {
		padding: 0.5rem;
	}
	.related-services {
	
	flex-direction: column;
	width: 100%;
	margin: 0;
	align-items:center;
	
	}
<<<<<<< HEAD


=======
>>>>>>> 9f9affd2c788a6fc2ec27d10bfedab18b2619362
}

/* Portrait */
@media (max-device-width: 800px) and (orientation: portrait) { 

}

/* Landscape */
@media (max-device-width: 1280px) and (orientation: landscape) { 

}
